@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
    margin: 0px;
}
#nav-G3{
    font-size: 45px;
    font-weight:bold ;
    color: #131313;
}
.list-nav{
    display:flex;
    justify-content:space-between;
    padding:63px 230px 110px ;
    align-items: center;
}
.list-aitem-ul{
display: flex;
list-style: none;
font-size: 18px;


}
.ankor-aitem{
    text-decoration: none;
    margin: 25px;
    color:#424242 ;
    font-weight: 500;
}
.header-nav{
 width: 1920px;
 height: 1322px;   
 background-color:rgba(255, 144, 14, 0.1);
}
#brand-name{
  width: 862px;
  font-size: 64px;
  font-weight: bold;  
  color:#131313;
text-align: center;
margin: 0px auto;
}
#nav-p{
    font-size: 16px;
    font-weight: 400;
    width:868px ;
    color:#727272 ;
    margin: 40px auto 32px;
    text-align: center;
}
.button-1{
    font-size: 20px;
    font-weight: 600px;
    color:rgba(255, 255, 255, 1);
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    margin: 0px 45%;
   }
#banner-img{
    /* width: 100%; */
    margin: 50px 240px;
}
